* {
	font-family: "Helvetica Neue", "Helvetica";
	font-size: 13pt;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

body {
    position: relative;
    display: inline-block;
}

header {
	width: calc(100% - 40px);
    margin: 20px;
}

header > div, header > h1 {
    display: inline-block;
}

header > div > div {
    padding: 10px 30px !important;
}

h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 400;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

img {
    height: 60px;
}

.teams {
    display: table;
    border-spacing: 20px 0;
    margin: 20px 0;
}

.teams > div {
	display: table-row;
}

.teams > div > div {
	display: table-cell;
	position: relative;
	padding: 10px;
	width: 220px;
    min-width: 220px;
    vertical-align: top;
    text-align: center;
}

.teams > div > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

div > p {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 220px;
    height: 60px;
    padding: 10px;
}

div > p::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div > p > span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 70px;
}

div > p > img {
    position: absolute;
}

.teamrow > div {
    padding: 10px !important;
}

.teamrow img {
    width: 220px;
    height: 40px;
    object-fit: contain;
    margin: 0 auto;
}

.teamrow > div::before {
    background: none !important;
}

.pm, .customer, .pl, .coach {
    font-weight: 500;
}

.crossproject {
}

.graybox {
    position: relative;
	padding: 10px;
    background: rgba(0, 0, 0, .1);
    border: rgba(0, 0, 0, .5) solid 3px;
    border-top: none;
    border-bottom: none;
}

.graybox p {
    width: 230px;
}

.overlay {
	position: absolute !important;
	left: 0;
    right: 0;
    height: 60px;
	margin: 8px 20px;
    padding: 12px;
    z-index: -1;
}

.teams > div > div:nth-child(11) {
    width: 480px;
    min-width: 480px;
}

{{# each(teams) }}

.teams > div > div:nth-child({{ @indexPlusOne }}) > p > img {
    border: rgba({{ color }}, 0.5) solid 2px;
}
.teams > div > div:nth-child({{ @indexPlusOne }})::before {
    background: rgba({{ color }}, .30);
    border-left: rgba({{ color }}, 1) solid 3px;
}

{{/ each(teams) }}