* {
	font-family: "Helvetica Neue", "Helvetica";
	font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: inline-block;
}

header {
	width: calc(100% - 40px);
	display: table;
	margin: 20px 20px 40px 20px;
}

header > div, header > h1 {
	display: table-cell;
}

header > * > * {
    display: inline-block;
}

h1 {
	text-align: center;
	font-size: 48px;
	font-weight: 400;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

img {
    height: 60px;
}

.teams {
    display: table;
    border-spacing: 20px 0;
}

.teams > div {
	display: table-row;
}

.teams > div > div {
	display: table-cell;
	position: relative;
	padding: 10px;
	width: 220px;
    min-width: 220px;
    word-wrap: break-word;
    vertical-align: top;
    text-align: center;
}

.teams > div > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.teams > div > div > p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 220px;
    height: 60px;
    padding: 10px;
}

.teamrow > div {
    padding: 10px !important;
}

.teamrow img {
    float: none !important;
    width: 240px;
    object-fit: contain;
    border: none !important;
    margin: 0 auto !important;
}

.teamrow > div::before {
	opacity: 0;
}

.customer, .coach, .pl {
    font-weight: 500;
}

.graybox {
	background: rgba(0, 0, 0, .1);
	border: rgba(0, 0, 0, .5) solid 3px;
    border-top: none;
    border-bottom: none;
	padding: 20px;
}

.graybox img {
    float: left;
    border: rgba(0, 0, 0, .25) solid 1px;
}

.overlay {
	position: absolute !important;
	left: 0;
    right: 0;
    height: 60px;
	margin: 8px 20px;
    padding: 12px;
    z-index: -1;
}

.teams > div > div img {
    float: left;
    border: rgba(0, 0, 0, .25) solid 1px;
    margin-right: 10px;
}

.teams > div > div:nth-child(11) {
    width: 480px;
    min-width: 480px;
}

{{# each(teams) }}

.teams > div > div:nth-child({{ @indexPlusOne }}) {
    
}
.teams > div > div:nth-child({{ @indexPlusOne }})::before {
    background: rgba({{ color }}, .30);
    border-left: rgba({{ color }}, 1) solid 3px;
}

{{/ each(teams) }}